body {
    background: url("../images/download.jpg");
}

.jumbotron{
    text-align: center;
    color: Black;
    Background:  Grey;
    Font-family: Times New Roman;
   }

label {
    color: black;
    font-size: 30px;
    }